:root {
    --color: #FFC53D;
    --color-black: #222222;
    color: var(--color-black);
    font-family: Raleway;
    font-size: 18px;
}

body {
    max-width: 1200px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: white;

    
    }

    /* LINKS */
a:visited,
a:active { 
    text-decoration: none; 
}

a:link {
    text-decoration: none; 
    color: var(--color-black);   
}

a:hover {
color: var(--color) ;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin: 2% auto 0;
    font-weight: bold;
    width: 90%;
}

.logo {
    margin-top: 1%;
}

.logo:hover {
    background: linear-gradient(270deg, var(--color) 14%, #FF9A3D 68.5%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav a {
    margin-top: 2%;
}


/* WELCOME */

.welcome {
    display: block;
    width: 100%;
    height: 96vh;
    margin-top: 4vh;
    background-image: url(./Assets/images/cover\ photo.png);
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}

.welcome-text-1 {
    font-size: 100px;
    font-weight: bold;
    color: var(--color) ;
    margin: 13% auto 0;
    animation: animation 2s infinite ease-in-out;
    }

@keyframes animation {
    from {opacity: 0.1;}
    50% {opacity: 1;}
    to {opacity: 0.1;}
}

.welcome-text-2 {
    font-size: 2rem;
    color: white;
}

.welcome-social-media {
    display: flex;
    justify-content: space-between;
    width: 25%;
    }


/* CHTO-TO */

.chto-to {
    z-index: 1;
}

.chto-to-text {
    font-weight: 400;
    font-size: 2rem;
}

.button {
width: 20%;
height: 15%; 
color: white;
font-size: 18px;
background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin: 0 4vw;
}

/* ABOUT ME */

.title {
    margin: 40px auto 15px;
    font-family: Ubuntu;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.about-me-data {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background: white;
    box-shadow: 3px 3px var(--color), -1em 0 .4em olive;
}


.about-me-items {
    text-align: center;
    margin: 7%;
    list-style-type: none;
    font-family: Raleway;
    font-style: normal;
    
}


.about-black {
    font-weight: bold;
}

.about-orange {
    color: var(--color);
}

/* .about-me-text {
    font-weight: 400;
    font-size: 18px;
    border-left: 4px dashed #FFC53D;
    margin-left: 8px; */


/* SKILLS */
.skills-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    background: white;
    box-shadow: 3px 3px var(--color), -1em 0 .4em olive;
    }

.skills-items {
    margin: 7%;

}

.skills-items:first-child {
    border-left: none;
}

/* PORTFOLIO */
/* CONTACT */

.contact-form {
    display: flex;
    width: 80%;
    height: 80%;
    background: gray;
    margin: 0 auto;
}

.contact-form-1 {
    display: block;
    width: 40%;
    height: 40%;
    background: orange;
}

.contact-form-2 {
    display: flex;
    flex-direction: row;
}

.form-item {
    border-radius: 15px;
}

.contact-button {
    width: 20%;
height: 15%; 
color: white;
font-size: 18px;
background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin: 0 4vw;
}