:root {
    --color: #FFC53D;
}
body {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: yellow;
    font-family: Raleway;
}

a:link,
a:visited,
a:active { 
    text-decoration: none; 
}

a:hover {
color: var(--color) ;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    margin: 3vh auto 0;
    font-weight: bold;
    font-size: 18px;
    width: 85%;
}

.logo {
    /* display: block;
    justify-content: center;
    align-items: center; */
}

.logo:hover {
    /* background: var(--color) ; */
    width: 11vw;
    height: 7vh;
    font-size: 18px;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 0 4vw;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    margin: 12px;
}


/* WELCOME */

.welcome {
    background-image: url(./Assets/images/cover\ photo.png), url(./Assets/images/cover\ layer.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% auto;
    margin: 4vh 0;
    /* margin-top: 4vh; */
    /* display: block; */
    /* background-image: url(./Assets/images/cover\ layer.png); */
     /* -photo,
.welcome-layer {
    margin-top: 70px;
    width: 100%; */
}

.welcome-text-1 {
    font-size: 100px;
    font-weight: bold;
    color: var(--color) ;
    }

.welcome-text-2 {
    font-size: 36px;
    color: white;
}

/* CHTO-TO */

.chto-to-text {
    font-weight: 400;
    font-size: 36px;
}

.chto-to-button {
width: 11vw;
height: 7vh;
color: white;
font-size: 18px;
background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin: 0 4vw;
}

/* ABOUT ME */

.title {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 32px;
}

.about-me-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    font-weight: 400;
    font-size: 18px;
}

/* SKILLS */

.skills-data {
    display: flex;
    justify-content: center;
    align-items: center;
}